@import "fonts";
@import "variables";
@import "mixins";

body {
  height: 100%;
  font-family: $ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h3 {
  color: $title-color;
}

//input::-webkit-outer-spin-button,
//input::-webkit-inner-spin-button {
//  -webkit-appearance: none;
//  margin: 0;
//}
//
///* Firefox */
//input[type=number] {
//  -moz-appearance: textfield;
//}
